<div class="container">
  <div class="all-container">
  <div class="obs-container">
    <div class="col" style="height:100%">
      <form #form="ngForm"  class="ADD">

        <mat-grid-list [cols]=3 rowHeight="69px" >

          <mat-grid-tile [colspan]=1 fxLayout="row" [style.border]="bd ? '1px solid red' : 'none'" fxLayoutAlign="space-evenly stretch">

              <mat-form-field appearance="outline" style="width:50%">
                <mat-label>Row</mat-label>
                <input matInput type="number" name="rows" #rows="ngModel" [(ngModel)]="formService.t.rows" placeholder="LABEL">
              </mat-form-field>
              <mat-form-field appearance="outline" style="width:50%">
                <mat-label>Col</mat-label>
                <input matInput type="number" name="cols" #cols="ngModel" [(ngModel)]="formService.t.cols" placeholder="LABEL">
              </mat-form-field>

          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Global Columns</mat-label>
              <input matInput type="number" name="columns" #ctrl="ngModel" [(ngModel)]="columns">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]=1>
            <button mat-raised-button (click)="addTile(form)" color="primary">ADD TILE</button>
            <button mat-raised-button (click)="removeTile()" color="warn">REMOVE TILE</button>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Form Name</mat-label>
              <input matInput  name="formName" #fmn="ngModel" [(ngModel)]="formName">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [rowspan]=1 [style.border]="'1px solid red'">
            <button mat-raised-button (click)="showBorder()">Show Borders</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-raised-button (click)="showList(formName)">Download JSON</button>
          </mat-grid-tile>


        </mat-grid-list>
      </form>

    </div>


    <div class="example-box" cdkDrag fxLayout="column" style="position: absolute;" *ngIf="this.formService.blocklist.length > 0">
      <div class="box-row" >

        <button mat-icon-button color="primary" (click)="arrayMove(selected, selected-1)"><mat-icon>arrow_back_ios</mat-icon></button>

        <h2  style="padding-top: 4px;"> Tile {{selected}} </h2>
        <button mat-icon-button color="primary" (click)="arrayMove(selected, selected+1)"><mat-icon>arrow_forward_ios</mat-icon></button>

      </div>

      <form #add="ngForm">

      <div *ngFor="let field of formService.blocklist[selected].fields; index as i" fxLayout="row" [ngSwitch]="field.type">


          <!-- INPUT -->
          <div class="row" style="width:100%" *ngSwitchCase=0 fxLayout="row">
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=0>
              <mat-label>Label</mat-label>
              <input matInput name="{{field.label}}" #lbl="ngModel" [(ngModel)]="field.label" placeholder="{{field.label}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=0>
              <mat-label>Data</mat-label>
              <input matInput name="{{field.data}}" #dta="ngModel" [(ngModel)]="field.data" placeholder="{{field.data}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=0>
              <mat-label>Placeholder</mat-label>
              <input matInput name="{{field.placeholder}}" #pch="ngModel" [(ngModel)]="field.placeholder" placeholder="{{field.placeholder}}">
            </mat-form-field>
          </div>


          <!-- INPUT DROPDOWN -->
          <div class="row" style="width:100%" *ngSwitchCase=1 fxLayout="row">
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=1>
              <mat-label>Label</mat-label>
              <input matInput name="{{field.label}}" #lbl="ngModel" [(ngModel)]="field.label" placeholder="{{field.label}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=1>
              <mat-label>Data</mat-label>
              <input matInput name="{{field.data}}" #dta="ngModel" [(ngModel)]="field.data" placeholder="{{field.data}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=1>
              <mat-label>Option</mat-label>
              <input matInput name="viewValue" #opt="ngModel" [(ngModel)]="formService.o.viewValue">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=1>
              <mat-label>Value</mat-label>
              <input matInput name="value" #val="ngModel" [(ngModel)]="formService.o.value" placeholder="{{field.data}}">
            </mat-form-field>

            <button mat-button  *ngSwitchCase=1 (click)="addOption(add, i)">+</button>
            <button mat-button  *ngSwitchCase=1 (click)="removeOption(i)">-</button>
          </div>

          <!-- INPUT CHECKBOX -->
          <div class="row" style="width:100%" *ngSwitchCase=2 fxLayout="row">

            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=2>
              <mat-label>Label</mat-label>
              <input matInput name="{{field.label}}" #lbl="ngModel" [(ngModel)]="field.label" placeholder="{{field.label}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=2>
              <mat-label>Data</mat-label>
              <input matInput name="value" #dta="ngModel" [(ngModel)]="formService.o.value" placeholder="{{field.data}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=2>
              <mat-label>Option</mat-label>
              <input matInput name="viewValue" #opt="ngModel" [(ngModel)]="formService.o.viewValue">
            </mat-form-field>

            <button mat-button  *ngSwitchCase=2 (click)="addOption(add, i)">+</button>
            <button mat-button  *ngSwitchCase=2 (click)="removeOption(i)">-</button>
          </div>

          <!-- INPUT RADIO -->
          <div class="row" style="width:100%" *ngSwitchCase=3 fxLayout="row">

            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=3>
              <mat-label>Label</mat-label>
              <input matInput name="{{field.label}}" #lbl="ngModel" [(ngModel)]="field.label" placeholder="{{field.label}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=3>
              <mat-label>Data</mat-label>
              <input matInput name="{{field.data}}" #dta="ngModel" [(ngModel)]="field.data" placeholder="{{field.data}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=3>
              <mat-label>Option</mat-label>
              <input matInput name="viewValue" #opt="ngModel" [(ngModel)]="formService.o.viewValue">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%"  *ngSwitchCase=3>
              <mat-label>Value</mat-label>
              <input matInput name="value" #val="ngModel" [(ngModel)]="formService.o.value" placeholder="{{field.data}}">
            </mat-form-field>

            <button mat-button  *ngSwitchCase=3 (click)="addOption(add, i)">+</button>
            <button mat-button  *ngSwitchCase=3 (click)="removeOption(i)">-</button>
          </div>

          <!-- INPUT DATEPICKER -->
          <div class="row" style="width:100%" *ngSwitchCase=4 fxLayout="row">
            <mat-form-field  appearance="outline" style="width:25%">
              <mat-label>Label</mat-label>
              <input matInput name="{{field.label}}" #lbl="ngModel" [(ngModel)]="field.label" placeholder="{{field.label}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%">
              <mat-label>Data</mat-label>
              <input matInput name="{{field.data}}" #dta="ngModel" [(ngModel)]="field.data" placeholder="{{field.data}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" style="width:25%">
              <mat-label>Placeholder</mat-label>
              <input matInput name="{{field.placeholder}}" #pch="ngModel" [(ngModel)]="field.placeholder">
            </mat-form-field>
          </div>




        </div>

      </form>
    </div>


    <div style="height:'100px'"></div>

    <mat-grid-list [cols]=columns rowHeight="66.25px">

      <mat-grid-tile *ngFor="let tile of formService.blocklist;index as i" [rowspan]="tile.size.rows" [colspan]="tile.size.cols" [style.border]="bd ? '1px solid red' : 'none'" (click)="setSelected(i)" (dblclick)="deleteField(tile)">

          <div fxLayout="column">

            <!-- <h1 style="position: absolute; top:0">Title</h1> -->
            <div *ngIf="tile.size.rows > tile.size.cols; else rowBlock" fxLayout="column" fxLayoutAlign="space-evenly stretch" [ngStyle]="{width:'100%', height: '100%'}">

              <div *ngFor="let field of tile.fields"  [ngSwitch]=field.type>

                <!-- INPUT BOX -->
                <mat-form-field appearance="outline" *ngSwitchCase=0>
                  <mat-label>{{field.label}}</mat-label>
                  <input matInput placeholder="{{field.placeholder}}">
                </mat-form-field>

                <!-- INPUT DROPDOWN -->
                <mat-form-field appearance="outline" *ngSwitchCase=1>
                  <mat-label>{{field.label}}</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let option of field.options" [value]="option.value">
                      {{option.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- INPUT CHECKBOX -->

                <mat-label *ngSwitchCase=2 >{{field.label}}</mat-label>
                  <div class="radio-group" *ngSwitchCase=2 style="padding-right: 8px;">
                    <mat-checkbox *ngFor="let option of field.options" [value]="option.value">
                      {{option.viewValue}}
                    </mat-checkbox>
                  </div>

                <!-- INPUT RADIO -->
                <mat-label class="radio-group-label" *ngSwitchCase=3 style="padding-right:8px">{{field.label}}</mat-label>
                <mat-radio-group class="radio-group" *ngSwitchCase=3>
                  <mat-radio-button *ngFor="let option of field.options" [value]="option.value">
                    {{option.viewValue}}
                  </mat-radio-button>
                </mat-radio-group>

                <!-- INPUT Datepicker -->
                <mat-form-field  *ngSwitchCase=4>
                  <mat-label>{{field.label}}</mat-label>
                  <input matInput [matDatepicker]="picker1" >
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

              </div>


              <div *ngIf="tile.fields.length < tile.size.rows && tile.done == false">

                <form #form="ngForm" class="ADD">

                  <mat-form-field appearance="outline">
                    <mat-label>{{i}}</mat-label>
                    <mat-select matInput name="type" #type="ngModel" [(ngModel)]="formService.b.type">
                      <mat-option value=0>Input</mat-option>
                      <mat-option value=1>Dropdown</mat-option>
                      <mat-option value=2>Checkbox</mat-option>
                      <mat-option value=3>Radio</mat-option>
                      <mat-option value=4>Datepicker</mat-option>
                    </mat-select>
                    <!-- <input matInput  name="label" #l="ngModel" [(ngModel)]="formService.b.label" placeholder="LABEL" required> -->
                  </mat-form-field>
                  <button type="button" mat-raised-button (click)="onSubmit(form, i); checkFull(tile, tile.size.rows)">ADD FIELD</button>
                  <button type="button" mat-raised-button (click)="tile.done = true">DONE</button>
                  <button type="button" mat-raised-button (click)="deleteField(tile)">DELETE FIELD</button>


                </form>
              </div>
            </div>

            <ng-template  #rowBlock>
              <div fxLayout="row" fxLayoutAlign="space-evenly stretch" [ngStyle]="{width:'100%'}">
                <div *ngFor="let field of tile.fields"  [ngSwitch]=field.type>

                  <!-- INPUT BOX -->
                  <mat-form-field appearance="outline" *ngSwitchCase=0>
                    <mat-label>{{field.label}}</mat-label>
                    <input matInput placeholder="{{field.placeholder}}">
                  </mat-form-field>

                  <!-- INPUT DROPDOWN -->
                  <mat-form-field appearance="outline" *ngSwitchCase=1>
                    <mat-label>{{field.label}}</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let option of field.options" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- INPUT CHECKBOX -->
                  <div class="radio-group" *ngSwitchCase=2 style="padding-right: 8px;">
                    <mat-checkbox *ngFor="let option of field.options" [value]="option.value">
                      {{option.viewValue}}
                    </mat-checkbox>
                  </div>

                  <!-- INPUT RADIO -->
                  <mat-label class="radio-group-label" *ngSwitchCase=3 style="padding-right: 8px;">{{field.label}}</mat-label>
                  <mat-radio-group class="radio-group" *ngSwitchCase=3>
                    <mat-radio-button *ngFor="let option of field.options" [value]="option.value">
                      {{option.viewValue}}
                    </mat-radio-button>
                  </mat-radio-group>

                  <!-- INPUT Datepicker -->
                  <mat-form-field  *ngSwitchCase=4>
                    <mat-label>{{field.label}}</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                </div>


                <div *ngIf="tile.fields.length < tile.size.rows && tile.done == false">

                  <form #form="ngForm" class="ADD">

                    <mat-form-field appearance="outline">
                      <mat-label>{{i}}</mat-label>
                      <mat-select matInput name="type" #type="ngModel" [(ngModel)]="formService.b.type">
                        <mat-option value=0>Input</mat-option>
                        <mat-option value=1>Dropdown</mat-option>
                        <mat-option value=2>Checkbox</mat-option>
                        <mat-option value=3>Radio</mat-option>
                        <mat-option value=4>Datepicker</mat-option>
                      </mat-select>
                      <!-- <input matInput  name="label" #l="ngModel" [(ngModel)]="formService.b.label" placeholder="LABEL" required> -->
                    </mat-form-field>
                    <button type="button" mat-raised-button (click)="onSubmit(form, i); checkFull(tile, tile.size.cols)">ADD FIELD</button>
                    <button type="button" mat-raised-button (click)="tile.done = true">DONE</button>
                    <button type="button" mat-raised-button (click)="deleteField(tile)">DELETE FIELD</button>


                  </form>
              </div>
              </div>

            </ng-template>
          </div>



      </mat-grid-tile>



    </mat-grid-list>
  </div>
  </div>
</div>
<!-- <app-form-reader></app-form-reader> -->
<!-- <app-scratch></app-scratch> -->
